[{{ __grafanaoss_reponame }}]
name={{ __grafanaoss_reponame }}
baseurl={{ __grafanaoss_baseurl }}
repo_gpgcheck={{ __grafanaoss_repo_gpgcheck }}
enabled=1
gpgcheck={{ __grafanaoss_gpgcheck }}
gpgkey={{ __grafanaoss_gpgkey_url }}
sslverify={{ __grafanaoss_sslverify }}
sslcacert=/etc/pki/tls/certs/ca-bundle.crt
